<div class="col-md-10 col-md-offset-1 social-login-wrapper">
  <div class="row">
    <div class="col-md-4">
      <a href="/participa/user/facebook-login" class="btn social-login-btn facebook-login-btn">
        <img src="/participa-assets/img/icon-facebook.png" alt="facebook icon" />
        {{ message }} Facebook
      </a>
    </div>  
    <div class="col-md-4">
      <a href="/participa/user/twitter-login" class="btn social-login-btn twitter-login-btn">
        <img src="/participa-assets/img/icon-twitter.png" alt="twitter icon" />
        {{ message }} Twitter
      </a>
    </div>
    <div class="col-md-4">
      <a href="/participa/user/linkedin-login" class="btn social-login-btn linkedin-login-btn">
        <img src="/participa-assets/img/icon-linkedin.png" alt="linkedin icon" />
        {{ message }} LinkedIn
      </a>
    </div>
  </div>
</div>
